@model Student
@{
    ViewData["Title"] = "EditStudent";
}

<h1>Edit Student</h1>

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="EditStudent" method="post">
    @Html.HiddenFor(x => x.Id)
    <table class="table table-bordered">
        <tr>
            <td> <label asp-for="UserName"></label>
            <td>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </td>
        <tr>
            <td> <label asp-for="Email"></label> </td>
            <td>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td><label asp-for="PhoneNumber"></label></td>
            <td>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </td>
        <tr>
            <td><label asp-for="City"></label></td>
            <td>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="ListStudents" class="btn btn-primary">Cancel</a>
            </td>
        </tr>
    </table>
</form>