@model Instructor
@{
    ViewData["Title"] = "DeleteStudent";
}

<h1>Delete Instructor</h1>

<h1>Are you sure to delete @Model.UserName</h1>

<form asp-controller="Instructors" asp-action="DeleteInstructor"
      method="post">
    @Html.HiddenFor(x => x.Id)

    <a asp-controller="Account"
       asp-action="ListInstructors" class="btn"> Cancel</a>
    <input type="submit" value="Delete" class="btn btn-submit" />
</form>